
    <p>Title: <%= @song.title %></p>
    <p>Realeased: <%= @song.released %></p>
    <p>Realease Year: <%= @song.release_year %></p>
    <p>Artist name: <%= @song.artist_name %></p>
    <p>Genre: <%= @song.genre %></p>
